form {
  margin-top: 0;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: 356px;
  width: 460px;
  padding: 14px;
  overflow: hidden; }
  form p {
    margin-top: 0;
    margin-left: 1em; }
  form select, form input, form textarea {
    font-size: 1.4em; }
  form label {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.4em;
    text-align: right;
    width: 140px;
    float: left; }
  form input {
    float: left;
    width: 270px;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 2px; }
  form input[type='submit'], form button {
    clear: both;
    margin-left: 175px;
    border-width: 1px;
    width: 100px;
    height: 28px;
    background-color: transparent;
    text-align: center;
    line-height: 28px;
    color: #fff;
    font-size: 11px;
    font-weight: bold; }
